# Copy this file to .env and fill in your token.
# your .env must NOT be committed (see .gitignore).


API_KEY="paste your OpenProject API key here"
OP_URL="paste the URL to your OpenPM instance here"
OP_PROJECT="insert the project's name-tag"
